<h1 class="sign_up">Welcome Back!</h1>

<form action="/sessions" method="post">
    <div class="field-wrap">
    <input type="email" required autocomplete="off" placeholder="Email" />
  </div>

  <div class="field-wrap">
    <input type="password"required autocomplete="off" placeholder="Password"/>
  </div>

  <button class="button button-block"/>Log In</button>

</form>

<h3 class="login_link"><a href="/users/new">Don't have an account?</a></h3>
