<div class="title_container">
  <span><p class="dash">-</p><p class="dash">-</p>---</span>
  <h1 class="login_title">FLAKE</h1>
  <span>---<p class="dash">-</p><p class="dash">-</p></span>
</div>

<form action="/" method="post">
  <h1 class="welcome">Welcome Back!</h1>

    <div class="field-wrap">
    <input type="email" required autocomplete="off" placeholder="Email" />
  </div>

  <div class="field-wrap">
    <input type="password"required autocomplete="off" placeholder="Password"/>
  </div>

  <button class="button button-block"/>Log In</button>

</form>
