@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: #4F546E;
  /*background-image: url("handsbackground-2.jpg");*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  margin: 25px auto;
}

.hide {
  display: none;
}

.login_form {
margin-top: 140px;
background: #1ab188;
box-shadow: 4px 5px 13px -1px rgba(0,0,0,0.56);
border-radius: 2%, 2%;
}

.search_artist {
  padding-top: 250px;
}

.header_bar {
  display: absolute;
  background: white;
  position: absolute;
  width: 100%;
  top: 0;
}

.log_out_button {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  width: 100px;
}

.lg_btn {
  color: #4F546E;
  background: white;
}

.lg_btn:hover {
  color: white;
  background: #4F546E;
}

.artist_display_normal {
  color: white;
  background: #4F546E;
  height: 17%;
  width: 80%;
  transition: .3s;
}

.artist_display_normal:hover {
  color: #4F546E;
  background: white;
  width: 85%;
  transition: .3s;
}

.art_btn {
  width: 85%;
}


.sign_up {
  font-size: 40px;
  right: 3px;
  padding-top: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 0 40px;
}

.title {
  font-size: 50px;
  right: 3px;
  padding-top: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 0 40px;
}


input::-webkit-input-placeholder {
color: #D2D2D2;
}

input:-moz-placeholder {
color: #D2D2D2;
}

input::-moz-placeholder {
color: #D2D2D2;
}

input:-ms-input-placeholder {
color: #D2D2D2;
}

.title_container {
  padding-left: 260px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  margin-right: 320px;
  width: 50%;
}

.title_container p {
  color: #1ab188;
  display: inline;
  vertical-align: top;
  font-family: "Oswald";
  font-size: 80px;
  letter-spacing: .3em;
  position: relative;
  bottom: 0;
  text-align: center;
}

.title_container h1 {
  display: inline;
  vertical-align: top;
  font-family: "Oswald";
  font-size: 80px;
  letter-spacing: .3em;
  color: #4F546E;
  left: 2px;
  position: relative;
  bottom: 0;
  margin: 0 0 40px;
  text-align: center;
  margin: 80px auto;
}

.title_container span {
  display: inline;
  vertical-align: middle;
  font-family: "Oswald";
  font-size: 80px;
  letter-spacing: .3em;
  color: #4F546E;
  left: 12px;
  position: relative;
  bottom: 0;
  margin: 0 0 40px;
  text-align: center;
  margin: 80px auto;
}

input {
  margin: auto;
}


.login_link {
  font-size: 20px;
  left: 3px;
  padding-top: 5px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: #1ab188;
  font-weight: 400;
  margin: 0 0 40px;
}

.delete_me {
  padding: 200px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #1ab188;
}

a:active {
    text-decoration: none;
    color: white;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px;
  background: white;
  background-image: none;
  border: 2px solid white;
  color: black;
  border-radius: 0.1;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
}

/*textarea {
  resize: vertical;
}*/


.field-wrap {
  left: 24%;
  width: 50%;
  position: relative;
  margin-bottom: 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: white;
  color: #1ab188;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #0E624C;
  color: white;
}

.button-block {
  display: block;
  color: #1ab188;
  width: 100%;
}
