body {
  background: #4F546E;
  font-family: 'Titillium Web', sans-serif;
}

form {
  background: #D2D2D2;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

input::-webkit-input-placeholder {
color: #D2D2D2;
}

input:-moz-placeholder {
color: #D2D2D2;
}

input::-moz-placeholder {
color: #D2D2D2;
}

input:-ms-input-placeholder {
color: #D2D2D2;
}

.title_container {
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: auto;
  width: 50%;
}

.title_container p {
  color: #1ab188;
  display: inline;
  vertical-align: top;
  font-family: "Oswald";
  font-size: 100px;
  letter-spacing: .3em;
  position: relative;
  bottom: 0;
  text-align: center;
}

.title_container h1 {
  display: inline;
  vertical-align: top;
  font-family: "Oswald";
  font-size: 100px;
  letter-spacing: .3em;
  color: white;
  left: 12px;
  position: relative;
  bottom: 0;
  margin: 0 0 40px;
  text-align: center;
  margin: 80px auto;
}

.title_container span {
  display: inline;
  vertical-align: middle;
  font-family: "Oswald";
  font-size: 100px;
  letter-spacing: .3em;
  color: white;
  left: 12px;
  position: relative;
  bottom: 0;
  margin: 0 0 40px;
  text-align: center;
  margin: 80px auto;
}


.welcome {
  right: 3px;
  padding-top: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: #1ab188;
  font-weight: 400;
  margin: 0 0 40px;
}

input {
  margin: auto;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: white;
  background-image: none;
  border: 2px solid white;
  color: #ffffff;
  border-radius: 0.1;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 4px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  left: 24%;
  width: 50%;
  position: relative;
  margin-bottom: 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}
