ul {
  list-style-type: none;
  color: white;
  padding-right: 40px;
}


.ra-container {
  width: 60%;
  margin: 10px auto;
  position: relative;
  text-align:center;
  border: solid white 1px;
  margin-bottom: 150px;
  margin-top: 220px;
  margin-left: 430px;
  text-align: center;
  padding-bottom: 40px;
}

#list form {
  margin: 90px auto;
}

.second_search {
  width: 17%;
  margin-left: 20px;
  position: absolute;
  top: 24%;
}

.dropdown {
  width: 17%;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 24%;
}

.head_artist {
  font-size: 70px;
  color: white;
  background: #4F546E;
}

.artist {
  width: 100%;
}

.artist_continer {
  width: 100%;
  display: inline-block;
}

.column_1 {
  display: inline-block;
  left: 2%;
  width: 48%;
}

.column_2 {
  display: inline-block;
  right: 2%;
  width: 48%;
  border-left: solid white 2px;
}

.ra_name {
  text-align: center;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.find_artist {
  right: 4px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 0 10px;
}
