ul {
  list-style-type: none;
  color: white;
  padding-right: 40px;
}


.ra-container {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 20%;
  border: solid white;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.find_artist {
  right: 4px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 0 10px;
}
