.flip-container {
  perspective: 50%;
}

.flip-container .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 90%;
  height: 15%;
}

.flipper {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
