.pannel_container {
  width: 60%;
  height: 470px;
  margin: auto;
  margin-top: 10%;
  position: relative;
  background: grey;
}

.flakes_container {
  background: blue;
  display: inline-block;
/*  float: left;
  margin-left: 170px;
  margin-top: 30px;
  margin-bottom: 40px;*/
  left: 0;
  border: black solid 1px;
  width: 400px;
  position: relative;
}

.popular_container {
  background: blue;
  display: inline-block;
/*  float: right;
  margin-right: 170px;
  margin-top: 30px;
  margin-bottom: 40px;*/
  float: right;
  border: black solid 1px;
  width: 400px;
  position: relative;
}

.inner_pop {
  height: 27em;
  border: solid black 1px;
  margin: 20px;
}

.inner_flake {
  height: 27em;
  border: solid black 1px;
  margin: 20px;
}
