<div class="flake_list">
  <ul>
    <% flakes.each do |flake| %>
      <li>
        <form class="artist_search" action="/artist" method="post">
          <input class="nav_list" type="submit" name="name" value="<%= flake.artist %>">
        </form>
      </li>
    <% end %>
  </ul>
</div>
