<div class="flake_list">
  <ul>
    <%= flakes.each do |flake| %>
    <li>
      <form  id="artist_search_a" action="/artist" method="post">
        <input id="search_input" type="submit" name="name" value="<%= #{flake.name} %>">
      </form>
    </li>
    <%= end %>
  </ul>
</div>
