<div class="pannel_container">
  <div class="flakes_container">
    <div class="inner_flake">
      flake
    </div>
  </div>
  <div class="popular_container">
    <div class="inner_pop">
      pop
    </div>
  </div>
</div>

<div class="search_artist">
  <a href="#"><h1 class='find_artist'>Find related artists</h1></a>

  <form  id="artist_search_a" action="/" method="post">
    <input id="search_input" class="first_search hide" type="text" name="name" autofocus="autofocus" placeholder="Artist">
  </form>
</div>


